@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
}

@layer base {
    html {
        @apply text-neutral-300 antialiased leading-normal font-mono
    }
    body {
        @apply min-h-screen bg-primary-dark-900
    }
}